@model Firefighters.Web.Models.ElementoViewModel

<div>
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="AreaId" class="control-label"></label>
        <select asp-for="AreaId" asp-items="Model.Areas" class="form-control"></select>
        <span asp-validation-for="AreaId" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6 ">
        <label asp-for="UbicacionId" class="control-label"></label>
        <select asp-for="UbicacionId" asp-items="Model.Ubicaciones" class="form-control"></select>
        <span asp-validation-for="UbicacionId" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <label asp-for="Modelo" class="control-label"></label>
        <input asp-for="Modelo" class="form-control" />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Marca" class="control-label"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="NroSerie" class="control-label"></label>
        <input asp-for="NroSerie" class="form-control" />
        <span asp-validation-for="NroSerie" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Codigo" class="control-label"></label>
        <input asp-for="Codigo" class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label asp-for="FabricacionFecha" class="control-label"></label>
        <input asp-for="FabricacionFecha" class="form-control"/>
        <span asp-validation-for="FabricacionFecha" class="text-danger"></span>
      
    </div>
    <div class="form-group col-md-4">
        <label asp-for="CompraFecha" class="control-label"></label>
        <input asp-for="CompraFecha" class="form-control" />
        <span asp-validation-for="CompraFecha" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="VencimientoFecha" class="control-label"></label>
        <input asp-for="VencimientoFecha" class="form-control" />
        <span asp-validation-for="VencimientoFecha" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Estado" class="control-label"></label>
        <select asp-for="Estado" asp-items="Model.Estados" class="form-control"></select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Titular" class="control-label"></label>
        <select asp-for="Titular" asp-items="Model.Titulares" class="form-control"></select>
        <span asp-validation-for="Titular" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label asp-for="Observaciones" class="control-label"></label>
        <input asp-for="Observaciones" class="form-control" />
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div>
</div>

