@model Firefighters.Web.Models.ElementoViewModel

@*@{
    ViewData["Title"] = "Create";
}*@
    <h4>Alta de Nuevo Elemento</h4>

<hr />
@*TODO: REVISAR MODELO DE DATOS PARA SU INGRESO - FECHAS Y ENUMS*@

 
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_Elemento" />

    <div class="form-group">
        <input type="submit" value="GUARDAR" class="btn btn-primary" />
    </div>
</form>
    


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
