@model Firefighters.Web.Data.Entities.Ubicacion

@{
    ViewData["Title"] = "Details";
}

<h4>Detalle Ubicación</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionElemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionElemento)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.UbicacionID"><i class="fas fa-edit"></i>&nbsp;Editar </a>
    <a asp-action="Index" class="btn btn-info"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Volver Listado</a>
</div>