@model Firefighters.Web.Data.Entities.Ubicacion

@{
    ViewData["Title"] = "Edit";
}

    <h4>Edición de Ubicación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UbicacionID" />
            <div class="form-group">
                <label asp-for="UbicacionElemento" class="control-label"></label>
                <input asp-for="UbicacionElemento" class="form-control" />
                <span asp-validation-for="UbicacionElemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
