@model Firefighters.Web.Models.SiniestroViewModel

@{
    ViewData["Title"] = "Editar";
}

<h4>Edición de Siniestro</h4>
<hr />
<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SiniestroID" />

    <partial name="_Siniestro" />
  
    <div class="form-group">
            <div class="form-group col-md-4">
                <input type="submit" value="Guardar" class="btn btn-primary btn-user btn-block" />
            </div>
            <div class="col-md-4">
                <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Volver Listado</a>
            </div>
    
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
