@model Firefighters.Web.Data.Entities.Area

@{
    ViewData["Title"] = "Create";
}

<h4>Alta de Nueva Area</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaName" class="control-label"></label>
                <input asp-for="AreaName" class="form-control" />
                <span asp-validation-for="AreaName" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="LlevaInventario" /> @Html.DisplayNameFor(model => model.LlevaInventario)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary btn-user btn-block" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Volver Listado</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
