@model Firefighters.Web.Data.Entities.Area

@{
    ViewData["Title"] = "DETALLE";
}

<h4 >Detalle Area</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LlevaInventario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AreaID">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
