@model Firefighters.Web.Data.Entities.Area

@{
    ViewData["Title"] = "EDITAR";
}

    <h4>Edición de Area</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AreaID" />
            <div class="form-group">
                <label asp-for="AreaName" class="control-label"></label>
                <input asp-for="AreaName" class="form-control" />
                <span asp-validation-for="AreaName" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="LlevaInventario" /> @Html.DisplayNameFor(model => model.LlevaInventario)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success"><i class="fas fa-caret-square-left"></i>&nbsp;Volver a la Lista</a>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
